<div>
  <h1>
    This is your cart! {{cartId}}
  </h1>
  <ul>
    {{#each cartDetail}}
      <li>
        <ul>
          <p>
            Product ID: {{this._id}}
          </p>
          <p>
            Product name: {{this.products.product.name}}
          </p>
          <p>
            Product quantity: {{this.quantity}}
          </p>
          <p>
            Product price: {{this.detail.price}}
          </p>
        </ul>
      </li>
    {{/each}}
  </ul>
  <form action="/api/carts/{{cartId}}/purchase" method="POST">
    <button>
      GO TO TICKET
    </button>
  </form>
  <button>
    <a href="/views/products">GO TO PRODUCTS</a>
  </button>
</div>
