<div>
  <h1>HEY {{firstName}} this are your {{title}}</h1>
 
  {{#each myCart}}
    <li>
      <ul>
        <p>
          Product ID: {{this.product._id}}
        </p>
        <p>
          Product name: {{this.product.name}}
        </p>
        <p>
          Product description: {{this.product.description}}
        </p>
        <p>
          Product quantity: {{this.quantity}}
        </p>
        <p>
          Product price: {{this.product.price}}
        </p>
      <form action="/api/carts/{{this._id}}/products/{{this.product._id}}" method="DELETE">
        <button type="submit">
          delete
        </button>
      </form>
      </ul>
    </li>
  {{/each}}
      <form action="/api/carts/{{cartId}}/purchase" method="POST">
        <button type="submit">
          GO TO TICKET
        </button>
      </form>
      <button>
        <a href="/views/products">GO TO PRODUCTS</a>
      </button>
</div>
