<div class="bg-image">
  <h1 class="title-cart">HEY {{firstName}} this are your {{title}}</h1>
  {{#each myCart }}
    <li class="card">
      <ul >
        <p>
          Product ID: {{this.product._id}}
        </p>
        <p>
          Product name: {{this.product.name}}
        </p>
        <p>
          Product description: {{this.product.description}}
        </p>
        <p>
          Product quantity: {{this.quantity}}
        </p>
        <p>
          Product price: {{this.product.price}}
        </p>
      </ul>
    </li>
  {{/each}}
  <div class="btn-display">
      <form action="/api/carts/{{cartId}}/purchase" method="POST">
        <button type="submit" class="btn btn-primary" style="font-weight: bold; color: black;">
          GO TO TICKET
        </button>
      </form>
      <button class="btn btn-warning" style="margin-left: 10px">
        <a href="/views/products" style="font-weight: bold; color: black; text-decoration:none;">GO TO PRODUCTS</a>
      </button>
  </div>
</div>
