<div class="bg-products">
  <h1 class="title-profile">All our Products!</h1>
  <a href="/profile">
    <button class="btn btn-primary btn-profile" style="font-weight: bold; color:black">
      PROFILE
    </button>
  </a>
  {{#each allProducts}}
  <div class="card" style="display:flex">
  <div class="card-body">
    <h3 class="card-title">{{this.title}}</h3>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.price}}</p>
    <div style="display: flex; align-items:center">
    <button class="btn btn-primary">-</button>
    <p class="card-text">{{this.stock}}</p>
    <button class="btn btn-primary">+</button>
    </div>
    {{#if cart}}
    <div style="margin-top: 10px;">
    <form action="/api/carts/{{cart}}/products/{{this.id}}" method="POST">
    <button type="submit" class="btn btn-primary">Add to cart</button>
    </div>
    </form>
    {{/if}}
  </div>
  </div>
  {{/each}}
</div>