<div>
  <h1>All our Products!</h1>
  {{#each allProducts}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{this.title}}</h3>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.price}}</p>
    <a href="#" class="btn btn-primary">Detail</a>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
  {{/each}}
  <div>
    {{this.pagingCounter}}
    {{this.totalPages}}

    <hr />
    <hr />
    

    {{prevPage}}
    {{#if hasPrevPage}}
      <a href="http://localhost:8080/?page={{prevPage}}">⬅️</a>
      
    {{/if}}
    {{page}}
    {{#if hasNextPage}}
      <a href="http://localhost:8080/?page={{nextPage}}">➡️</a>
    {{/if}}
    {{nextPage}}
  </div>
</div>